/* Reset default margins, padding, and box-sizing to ensure consistent layout across browsers (includes borders, padding, etc in the width calculations) */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12px;
}

/* Style the body/html if needed */
/* Position the footer to always be at the bottom of the page */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

main {
    flex: 1;
}

/* Grid layout for the footer */
.footer-grid {
    display: grid;
    /* Setting the column max to auto allows for the columns to grow/shrink based on the content and thus keeping the spacing look visually more consistent */
    grid-template-columns: repeat(3, minmax(200px, auto));
    grid-template-rows: repeat(1, minmax(auto, auto));
    background-color: #659f8f;
    padding: 5rem;
    gap: 15rem;
    position: relative;
}

/* Specific alignment using a wrapper for the grid */
.footer-grid-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #659f8f;
    border-radius: 10px;
    padding: 10rem;
}

/* Align the content of the divs and the nested elements */
.footer-grid > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signup-form-container {
    padding-right: 5rem;
}

.quick-links-container {
    padding-left: 5rem;
}

.footer-grid > div nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form input,
form button {
    font-size: 1rem; 
    padding: 15px; 
    border-radius: 10px;
    border: 0.1rem solid black;
}

form button {
    background-color: #d66c46;
    color: white;
}

/* Pseudo elements CodeSpace and orange line under the grid */
.footer-grid::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: #d66c46;
    display: block;
    position: absolute;
    bottom: 0;
    left: 5rem;
}

/* Pseudo element CodeSpace after the end line */
.footer-grid::before {
    content: "CODESPACE";
    font-size: 2rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 5rem;
    bottom: -5rem;
}

/*Styling the a tags to be the correct size and look */
a {
    color: inherit;           
    text-decoration: none;    
    font-size: inherit;       
    font-family: inherit;     
    font-weight: inherit; 
    align-self: flex-start;
}

/* Media querry for responsiveness for i pad */
@media (max-width:768px) and (min-width:376px) {
    .footer-grid {
        grid-template-columns: repeat(2, minmax(200px, auto));
        grid-template-rows: repeat(2, minmax(20px, auto));
        gap: 5rem;
    }
    .signup-form-container {
        grid-column: 1 / -1;
        padding: 0;
    }
    .quick-links-container {
        padding: 0;
    }
    .footer-grid-container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Media querry for responsiveness for i phone */
@media (max-width:376px) {
    .footer-grid {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        padding: 0;
    }
    .quick-links-container {
        padding: 0;
        margin-top: 2rem;
    }
    .signup-form {
        display: flex;
        flex-direction: column;
    }
    form button {
        flex: 1;
    }
    .signup-form-container {
        padding: 0;
    }
    .footer-grid::after {
        left: 0;
    }
    .footer-grid::before {
        left: 0;
    }
    .technologies-container {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .footer-grid-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}